<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta content="text/html; charset=UTF-8" />
    <style type="text/css">
      .userName {
        font-weight: 20px;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <h2><%= @user.name %> さま</h2>
    <p>
      この度は<span class="userName"><%= @user.name %></span>さまに日頃からの感謝についてお知らせします。
    </p>
    <div>【<%= @user.name %>さまとの関係】</div>
    <div><%= @user.relationship%></div>
    <div>【感謝の言葉】</div>
    <div><%= @user.content %></div>
  </body>
</html>
